body {
    margin: 0;
    padding: corner ;
    background: #f5f7fa;
    font-family: Arial, sans-serif;
    text-align: center;
}

.logo {
    font-size: 40px;
    
    margin-top: 20px;
}

h1 {
    margin-top: 10px;
    font-size: 32px;
}

h2 {
    font-weight: normal;
    color: #555;
    margin-top: -10px;
}
main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.menu {
            background: rgb(172, 184, 139);
        border-radius: 12px;
            padding: 40px 60px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 25px;         
             align-items: center;
 
             margin-inline-start: 700px; 
             margin-inline-end: 700px;
}



.menu-button {
    width: 100%;
    padding: 18px 25px;
    font-size: 20px;
    border-radius: 15px;
    background: white;
    border: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: 0.2s;
}

.menu-button:hover {
    background: #e8f0fe;
}

.menu-button i {
    font-size: 22px;
}

.online {
    background: #14c8a8;
    color: white;
    border-radius: 20px;
}

.online:hover {
    background: #0cb395;
}

.online i {
    color: white;
}
 